<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <!--PlanningUnitINFO-->
    
	    <class name="PlanningUnitINFO.InitialViewPage"/> 
	    <class name="PlanningUnitINFO.NewPlanningUnitAdd"/>
	    <class name="PlanningUnitINFO.ViewPageAfterSave"/>
	    <class name="PlanningUnitINFO.InfoPageEdit"/>
	    <class name="PlanningUnitINFO.InfoPageEditMembers"/>
	    <class name="PlanningUnitINFO.PlanningUnitDeleteDeactivateEdit"/>
	    <class name="PlanningUnitINFO.PlanningUnitFavorite"/>
    
    <!--PlanningUnitINFO-->
    
    <!--PlanningUnitDetailsGoals-->
	    <class name="PlanningUnitDetailsGoals.GoalsView"/>
	    <class name="PlanningUnitDetailsGoals.GoalsAdd"/>
	    <class name="PlanningUnitDetailsGoals.GoalsDetails"/>
	    <class name="PlanningUnitDetailsGoals.GoalsEdit"/>
	    <class name="PlanningUnitDetailsGoals.GoalsAddSWOT"/>
        
    <!--PlanningUnitDetailsGoals-->
    
     <!--PlanningUnitDetailsOBJECTIVES-->
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectivesView"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectivesAddNew"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.CreateNewObjectives"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectivesViewDetails_INFO_tab"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveApprovalAndNote"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ViewApprovalHistory"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.RemoveAllApproval"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveEdit"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveFavorite"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveInstitutionalGoals"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveEditInstitutionalGoals"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveInfoGoalsTypesPriorities"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveInfoEDITGoalsTypesPriorities"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveInfo_ObjectiveType"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveInfo_EditObjectiveType"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveInfo_PlanningPriorities"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveInfo_EditPlanningPriorities"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectiveInfo_SWOT"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectivesTaskView"/>
     	<class name="PlanningUnitDetailsOBJECTIVES.ObjectivesAddTask"/>
     	
     <!--PlanningUnitDetailsOBJECTIVES-->
     
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
